
.team-image{
    background-image: url("/team.jpg");
}
.match-image{
    background-image: url("/img-1.jpg");
}
.banner-image{
    background-image: url("/banner-image.jpg");
}
.stades-image{
    background-image: url("/stades_foot_monde.jpg");
}
.ffoot-image{
    background-image: url("/femme-foot.jpg");
}
.ffoot-image-psg{
    background-image: url("/femme-foot-psg.jpg");
}
.orga-image{
    background-image: url("/orga.jpg");
}
.hero-image{
    width: 70vw;
    height: 60vh;
    background-image: url("/stades_foot_monde.jpg");
    background-position: center;
    background-size: cover;
}
.card{
    width: 20vw;
    height: 60vh;
}

.shadow-cover{
    width: 70vw;
    height: 60vh;
    position: absolute;
    background: linear-gradient(1deg,#000000 0%, rgba(255,255,255,0) 80%);
}
.linear-shadow{
    background: linear-gradient(1deg,#000000 0%, rgba(255,255,255,0) 80%);
}

.blue-custom{
    color: #014aab
}
.blue-dark-custom{
    color: #053a80
}
.yellow-custom{
    color: #ffde59
}
.green-custom{
    color: #00c164
}
.bg-blue-custom{
    background-color: #014aab
}
.bg-blue-dark-custom{
    background-color: #053a80
}
.bg-yellow-custom{
    background-color: #ffde59
}
.bg-yellow-dark-custom{
    background-color: #f5cd34
}
.bg-green-custom{
    background-color: #00c164
}

.button-y-hover:hover{
    background-color: #f5cd34;
    color: oklch(0.707 0.022 261.325);
}

.transition-smooth{
    transition : all .5s ease;
}
.transition-quick{
    transition : all .1s ease-out;
}

.jiggle-animation{
    rotate: -1.5deg;
    animation: jumpy 2s ease-in-out infinite;
}
.hover-interactive:hover{
    transform: scale(1.05);
}

.show-on-hover{
    max-width: 0;
}
.show-on-hover:hover{
    max-width: 24px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 50s linear infinite;
}

.marquee2 span {
    animation-delay: 25s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes jumpy {
    0%{
        bottom: -50px;
    }
    50%{
        bottom: -35px;
    }
    100%{
        bottom: -50px;
    }
}

.pattern-foot{
    background-image: url("/pattern-foot.png");
    background-blend-mode: multiply;
}










