@import "tailwindcss";
/* font-family : Oswald */
body{
  font-family: "Poppins", sans-serif;
}

.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.oswald{
  font-family: "Oswald", sans-serif;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.roboto{
  font-family: "Roboto", sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", "Roboto Cn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-thick {
  font-family: "Bebas Neue", "Roboto Cn", sans-serif;
  font-weight: 500;
}

.bebas-neue-bold {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.big-shoulders-bold {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}













